@media screen and (min-width: 1440px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 17px;
        }
      }
      form {
        display: flex;
        width: 585px;
        height: 49px;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          outline: none;
          width: 423px;
          height: 49px;
          font-size: 17px;
          padding-left: 20px;
          border-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 162px;
          height: 49px;
          font-size: 18px;
        }
      }
    }
    .footer-callback {
      display: flex;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        min-width: 390px;
      }
      .list-column:nth-of-type(2) {
        min-width: 530px;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 30px;
        }
        ul {
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 25px;

            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 17px;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 12px 0 12px;
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 40px;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 15px;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 17px;
        }
      }
      form {
        display: flex;
        width: 585px;
        height: 49px;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          outline: none;
          width: 423px;
          height: 49px;
          font-size: 17px;
          padding-left: 20px;
          border-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 162px;
          height: 49px;
          font-size: 18px;
        }
      }
    }
    .footer-callback {
      display: flex;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 30vw;
      }
      .list-column:nth-of-type(2) {
        width: 41vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 30px;
        }
        ul {
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 25px;

            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 17px;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 12px 0 12px;
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 40px;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 15px;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 1.32vw;
        }
      }
      form {
        display: flex;
        width: 45.7vw;
        height: 3.82vw;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          outline: none;
          width: 33vw;
          height: 3.82vw;
          font-size: 1.32vw;
          padding-left: 20px;
          border-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 1.32vw;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 15vw;
          height: 3.82vw;
          font-size: 1.4vw;
        }
      }
    }
    .footer-callback {
      display: flex;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 30vw;
      }
      .list-column:nth-of-type(2) {
        width: 41vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 2.34vw;
        }
        ul {
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 25px;
            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 1.32vw;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 12px 0 12px;
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 3vw;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 1.17vw;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 2vw;
        }
      }
      form {
        display: flex;
        width: 55.7vw;
        height: 6vw;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          outline: none;
          width: 40.7vw;
          height: 6vw;
          font-size: 2vw;
          padding-left: 20px;
          border-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 2vw;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 15vw;
          height: 6vw;
          font-size: 2vw;
        }
      }
    }
    .footer-callback {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 100vw;
      }
      .list-column:nth-of-type(2) {
        width: 100vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 4.5vw;
        }
        ul {
          margin-bottom: 2vw;
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 2vw;
            margin-left: 1vw;
            .icon {
              width: 3vw;
            }
            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 2vw;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 1vw 0 1vw;
            img {
              max-width: 8vw;
            }
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 3vw;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 2vw;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 425px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 3.4vw;
          br {
            display: none;
          }
        }
      }
      form {
        display: flex;
        width: 70vw;
        height: 10vw;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          outline: none;
          width: 50vw;
          height: 10vw;
          font-size: 3.4vw;
          padding-left: 20px;
          border-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 3.4vw;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 20vw;
          height: 10vw;
          font-size: 3.4vw;
        }
      }
    }
    .footer-callback {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 100vw;
      }
      .list-column:nth-of-type(2) {
        width: 100vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 2rem;
        }
        ul {
          margin-bottom: 2vw;
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 2vw;
            margin-left: 1vw;
            .icon {
              width: 5vw;
            }
            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 3.4vw;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 1vw 0 1vw;
            img {
              max-width: 8vw;
            }
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 3vw;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 3vw;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 424px) and (min-width: 300px) {

}