.list-column:nth-of-type(1), .list-column:nth-of-type(2) {
  ul {
    li {
      &:hover > a {
        color: var(--color-cherry);
      }
    }
  }
}
#subWithEmail {
  &:hover {
    background-color: var(--color-white);
    color: var(--color-cherry);
  }
}
.footer-callback {
  background-color: var(--color-white-footer);
}
@media screen and (min-width: 1440px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 17px;
        }
      }
      form {
        display: flex;
        width: 585px;
        height: 49px;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          box-sizing: border-box;
          width: 423px;
          height: 100%;
          font-size: 17px;
          padding-left: 20px;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 162px;
          height: 100%;
          font-size: 18px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    .footer-callback {
      display: flex;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        min-width: 390px;
      }
      .list-column:nth-of-type(2) {
        min-width: 530px;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 30px;
        }
        ul {
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 25px;

            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 17px;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 12px 0 12px;
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 40px;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 15px;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
  #answerModalContainer {
    font-family: "Hind Siliguri", sans-serif, SemiBold;
    background-color: var(--color-white);
    width: 560px;
    height: 400px;
    border-radius: 5px;
    margin: 0 auto;
    .modalElements {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      .logo {
        text-align: center;
        width: 100%;
        height: 20%;
        span {
          color: var(--color-cherry);
          font-weight: 600;
          cursor: pointer;
          font-size: 30px;
        }
      }
      .modalContent {
        text-align: center;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        img {
          max-width: 50px;
          max-height: 50px;
        }
        p:first-of-type {
          color: var(--color-black);
          font-size: 18px;
          margin: 10px 0 10px 0;
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
        }
        p:last-of-type {
          color: var(--color-grey);
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 17px;
        }
      }
      form {
        display: flex;
        width: 585px;
        height: 49px;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          width: 423px;
          max-height: 100%;
          font-size: 17px;
          padding-left: 20px;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 162px;
          height: 100%;
          font-size: 18px;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    .footer-callback {
      display: flex;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 30vw;
      }
      .list-column:nth-of-type(2) {
        width: 41vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 30px;
        }
        ul {
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 25px;

            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 17px;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 12px 0 12px;
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 40px;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 15px;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 1.32vw;
        }
      }
      form {
        display: flex;
        width: 45.7vw;
        height: 3.82vw;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          width: 33vw;
          max-height: 100%;
          font-size: 1.32vw;
          padding-left: 20px;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 1.32vw;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 15vw;
          height: 100%;
          font-size: 1.4vw;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    .footer-callback {
      display: flex;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 30vw;
      }
      .list-column:nth-of-type(2) {
        width: 41vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 2.34vw;
        }
        ul {
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 25px;
            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 1.32vw;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 12px 0 12px;
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 3vw;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 1.17vw;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1439px) and (min-width: 1024px) {
  #answerModalContainer {
    font-family: "Hind Siliguri", sans-serif, SemiBold;
    background-color: var(--color-white);
    width: 560px;
    height: 400px;
    border-radius: 5px;
    margin: 0 auto;
    .modalElements {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      .logo {
        text-align: center;
        width: 100%;
        height: 20%;
        span {
          color: var(--color-cherry);
          font-weight: 600;
          cursor: pointer;
          font-size: 2.3vw;
        }
      }
      .modalContent {
        text-align: center;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        img {
          max-width: 50px;
          max-height: 50px;
        }
        p:first-of-type {
          color: var(--color-black);
          font-size: 18px;
          margin: 10px 0 10px 0;
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
        }
        p:last-of-type {
          color: var(--color-grey);
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 2vw;
        }
      }
      form {
        display: flex;
        width: 55.7vw;
        height: 6vw;
        margin-top: 20px;

        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          width: 40.7vw;
          max-height: 100%;
          font-size: 2vw;
          padding-left: 20px;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 2vw;
          }
        }

        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 15vw;
          height: 100%;
          font-size: 2vw;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    .footer-callback {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 100vw;
      }
      .list-column:nth-of-type(2) {
        width: 100vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 4.5vw;
        }
        ul {
          margin-bottom: 2vw;

          li {
            display: flex;
            align-items: flex-start;
            margin-top: 2vw;
            margin-left: 1vw;

            .icon {
              width: 3vw;
            }

            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 2vw;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;

          li {
            padding: 0 1vw 0 1vw;

            img {
              max-width: 8vw;
            }
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 3vw;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 2vw;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
  #answerModalContainer {
    font-family: "Hind Siliguri", sans-serif, SemiBold;
    background-color: var(--color-white);
    width: 460px;
    height: 400px;
    border-radius: 5px;
    margin: 0 auto;
    .modalElements {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      .logo {
        text-align: center;
        width: 100%;
        height: 20%;
        span {
          color: var(--color-cherry);
          font-weight: 600;
          cursor: pointer;
          font-size: 2.6vw;
        }
      }
      .modalContent {
        text-align: center;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        img {
          max-width: 50px;
          max-height: 50px;
        }
        p:first-of-type {
          color: var(--color-black);
          font-size: 2vw;
          margin: 10px 0 10px 0;
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
        }
        p:last-of-type {
          color: var(--color-grey);
          font-size: 1.4vw;
          margin-top: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  #answerModalContainer {
    font-family: "Hind Siliguri", sans-serif, SemiBold;
    background-color: var(--color-white);
    width: 92vw;
    height: 400px;
    border-radius: 5px;
    margin: 0 auto;
    .modalElements {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      .logo {
        text-align: center;
        width: 100%;
        height: 15%;
        span {
          color: var(--color-cherry);
          font-weight: 600;
          cursor: pointer;
          font-size: 1.8rem;
        }
      }
      .modalContent {
        text-align: center;
        width: 100%;
        height: 80%;
        overflow-y: auto;
        img {
          max-width: 50px;
          max-height: 50px;
        }
        p:first-of-type {
          color: var(--color-black);
          font-size: 1.2rem;
          margin: 2vw 0 2vw 0;
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
        }
        p:last-of-type {
          color: var(--color-grey);
          font-size: 1rem;
          margin-top: 2vw;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 425px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 3.4vw;
          br {
            display: none;
          }
        }
      }
      form {
        display: flex;
        width: 70vw;
        height: 10vw;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          width: 50vw;
          max-height: 100%;
          font-size: 3.4vw;
          padding-left: 20px;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 3.4vw;
          }
        }

        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 20vw;
          height: 100%;
          font-size: 3.4vw;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    .footer-callback {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 100vw;
      }
      .list-column:nth-of-type(2) {
        width: 100vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 2rem;
        }
        ul {
          margin-bottom: 2vw;
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 2vw;
            margin-left: 1vw;
            .icon {
              width: 5vw;
            }
            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 3.4vw;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 1vw 0 1vw;
            img {
              max-width: 8vw;
            }
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 3vw;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 3vw;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 424px) and (min-width: 300px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 92vw;
      margin: 0 auto;
      padding-bottom: 40px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 1.2rem;
          br {
            display: none;
          }
        }
      }
      form {
        display: flex;
        width: 100%;
        height: 6vh;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          width: 100%;
          max-height: 100%;
          font-size: 1.2rem;
          padding-left: 20px;
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 1.2rem;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 30vw;
          height: 100%;
          font-size: 1rem;
          padding: 0 1vw 0 1vw;
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    .footer-callback {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 100vw;
      }
      .list-column:nth-of-type(2) {
        width: 100vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 2rem;
        }
        ul {
          margin-bottom: 2vw;
          margin-top: 2vw;
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 2vw;
            margin-left: 1vw;
            .icon {
              width: 6vw;
            }
            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 1.2rem;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 1vw 0 1vw;
            img {
              max-width: 10vw;
            }
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 3vw;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 1rem;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}