@media screen and (min-width: 1440px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;

    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 17px;
        }
      }
      form {
        display: flex;
        width: 585px;
        height: 49px;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          outline: none;
          width: 423px;
          height: 49px;
          font-size: 17px;
          padding-left: 20px;
          border-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 162px;
          height: 49px;
          font-size: 18px;
        }
      }
    }
    .footer-callback {
      display: flex;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        min-width: 390px;
      }
      .list-column:nth-of-type(2) {
        min-width: 530px;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 30px;
        }
        ul {
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 25px;

            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 17px;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 12px 0 12px;
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 40px;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 15px;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
  footer {
    padding-top: 40px;
    padding-bottom: 40px;

    .footer-subscription {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 60px;
      .footer-message {
        p {
          font-family: "Open Sans", sans-serif, Regular;
          text-align: center;
          font-weight: 400;
          line-height: 1.7;
          font-size: 17px;
        }
      }
      form {
        display: flex;
        width: 585px;
        height: 49px;
        margin-top: 20px;
        input {
          font-family: "Open Sans", sans-serif, Regular;
          border: 1px solid var(--color-cherry-opacity);
          outline: none;
          width: 423px;
          height: 49px;
          font-size: 17px;
          padding-left: 20px;
          border-radius: 5px;
          &::placeholder {
            font-family: "Open Sans", sans-serif, Regular;
            color: var(--color-grey);
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
          }
        }
        button {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          text-align: center;
          font-weight: 600;
          width: 162px;
          height: 49px;
          font-size: 18px;
        }
      }
    }
    .footer-callback {
      display: flex;
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 40px;
      .list-column:nth-of-type(1) {
        width: 30vw;
      }
      .list-column:nth-of-type(2) {
        width: 41vw;
      }
      .list-column {
        .footerTitle {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-black);
          font-weight: 600;
          font-size: 30px;
        }
        ul {
          li {
            display: flex;
            align-items: flex-start;
            margin-top: 25px;

            a {
              font-family: "Open Sans", sans-serif, Regular;
              color: var(--color-grey);
              text-decoration: none;
              font-weight: 400;
              font-size: 17px;
              margin-left: 20px;
            }
          }
        }
        .serviceToPay {
          display: flex;
          flex-wrap: wrap;
          li {
            padding: 0 12px 0 12px;
          }
        }
        hr {
          background-color: var(--color-grey);
          height: 1px;
          opacity: 0.6;
          margin-top: 40px;
        }
        p {
          font-family: "Open Sans", sans-serif, Regular;
          color: var(--color-grey);
          font-weight: 400;
          font-size: 15px;
          margin-top: 15px;
          margin-left: 20px;
        }
      }
    }
  }
}
