@media screen and (min-width: 1440px) {
  header {
    background-color: var(--color-white);
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 9;
    nav:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
      height: 56px;
      a:active {
        color: var(--color-cherry);
      }
      .navPhoneNumber {
        font-family: "Hind Siliguri", sans-serif, Regular;
        color: var(--color-black);
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 174px;
        font-size: 14px;
        a {
          margin-left: 14px;
        }
      }
      .navEmail {
        font-family: "Hind Siliguri", sans-serif, Regular;
        color: var(--color-black);
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 228px;
        font-size: 14px;
        a {
          margin-left: 14px;
        }
      }
      .centerTitle {
        font-family: "Hind Siliguri", sans-serif, SemiBold;
        color: var(--color-cherry);
        display: flex;
        align-items: center;
        font-weight: 600;
        width: 415px;
        padding-left: 137px;
        font-size: 18px;
      }
      .source {
        font-family: "Hind Siliguri", sans-serif, Regular;
        color: var(--color-black);
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 326px;
        font-size: 14px;
        a {
          margin-left: 14px;
        }
      }
    }
    nav:nth-of-type(2) {
      display: flex;
      justify-content: space-between;
      height: 109px;
      .logo {
        display: flex;
        align-items: center;
        width: 325px;
        a {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-cherry);
          text-decoration: none;
          font-weight: 600;
          font-size: 30px;
        }
      }
      .menu-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: content-box;
        padding: 0;
        margin: 0;
        .menu {
          font-family: "Hind Siliguri", sans-serif, Medium;
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
          width: 630px;
          padding: 0;
          margin: 0;
          font-size: 18px;
          font-weight: 500;
          .item {
            color: var(--color-grey);
            user-select: none;
            padding: 21px;
          }
          .item:hover {
            background-color: var(--color-cherry);
            color: var(--color-white);
            cursor: pointer;
          }
          .has-submenu {
            position: relative;
            .submenu {
              position: absolute;
              display: none;
              height: auto;
              left: 0;
              top: 100%;
              li {
                width: max-content;
                float: none;
                padding: 10px 0 10px 0;
                a {
                  background-color: var(--color-white);
                  color: var(--color-black);
                  text-decoration: none;
                  padding: 10px 20px;
                  &:hover {
                    background-color: var(--color-cherry);
                    color: var(--color-white);
                  }
                }
              }
            }
          }
        }
        .profileAction {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 325px;
          .icon {
            cursor: pointer;
          }
          .signInButton {
            font-family: "Hind Siliguri", sans-serif, SemiBold;
            background-color: var(--color-cherry);
            color: var(--color-white);
            font-weight: 600;
            width: 126px;
            height: 49px;
            font-size: 18px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1439px) and (min-width: 1024px) {
  header {
    background-color: var(--color-white);
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 9;
    nav:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
      height: 4.375vw;
      a:active {
        color: var(--color-cherry);
      }
      .navPhoneNumber {
        font-family: "Hind Siliguri", sans-serif, Regular;
        color: var(--color-black);
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 13.59vw;
        font-size: 1vw;
        a {
          margin-left: 1vw;
        }
      }
      .navEmail {
        font-family: "Hind Siliguri", sans-serif, Regular;
        color: var(--color-black);
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 17.81vw;
        font-size: 1vw;
        a {
          margin-left: 1vw;
        }
      }
      .centerTitle {
        font-family: "Hind Siliguri", sans-serif, SemiBold;
        color: var(--color-cherry);
        display: flex;
        align-items: center;
        font-weight: 600;
        width: 32.42vw;
        padding-left: 137px;
        font-size: 1.4vw;
      }
      .source {
        font-family: "Hind Siliguri", sans-serif, Regular;
        color: var(--color-black);
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 25.47vw;
        font-size: 1vw;
        a {
          margin-left: 1vw;
        }
      }
    }
    nav:nth-of-type(2) {
      display: flex;
      justify-content: space-between;
      height: 8.5vw;
      .logo {
        display: flex;
        align-items: center;
        width: 23vw;
        a {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-cherry);
          text-decoration: none;
          font-weight: 600;
          font-size: 2.3vw;
        }
      }
      .menu-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: content-box;
        padding: 0;
        margin: 0;
        .menu {
          font-family: "Hind Siliguri", sans-serif, Medium;
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
          width: 44vw;
          padding: 0;
          margin: 0;
          font-size: 1.5vw;
          font-weight: 500;
          .item {
            color: var(--color-grey);
            user-select: none;
            padding: 2vw;
          }
          .item:hover {
            background-color: var(--color-cherry);
            color: var(--color-white);
            cursor: pointer;
          }
          .has-submenu {
            position: relative;

            .submenu {
              position: absolute;
              display: none;
              height: auto;
              left: 0;
              top: 100%;

              li {
                width: max-content;
                float: none;
                padding: 1vw 0;

                a {
                  background-color: var(--color-white);
                  color: var(--color-black);
                  text-decoration: none;
                  padding: 1vw 2vw;

                  &:hover {
                    background-color: var(--color-cherry);
                    color: var(--color-white);
                  }
                }
              }
            }
          }
        }
      }
      .profileAction {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 23vw;
        .icon {
          cursor: pointer;
        }
        .signInButton {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          background-color: var(--color-cherry);
          color: var(--color-white);
          font-weight: 600;
          width: 8.75vw;
          height: 4vw;
          font-size: 1.5vw;
          border-radius: 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  header {
    background-color: var(--color-white);
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 9;
    nav:nth-of-type(1) {
      display: none;
    }
    nav:nth-of-type(2) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;

      .logo {
        display: flex;
        align-items: center;
        width: 23vw;

        a {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-cherry);
          text-decoration: none;
          font-weight: 600;
          font-size: 2.3vw;
        }
      }
      .burger-icon {
        display: block;
        position: relative;
        overflow: hidden;
        z-index: 3;
        width: 30px;
        height: 20px;
      }
      .burger-icon span, .burger-icon::before, .burger-icon::after {
        background-color: var(--color-black);
        position: absolute;
        height: 10%;
        width: 100%;
        left: 0;
        transition: 0.3s ease 0s;
      }
      .burger-icon::before {
        content: "";
        top: 0;
      }
      .burger-icon::after {
        content: "";
        bottom: 0;
      }
      .burger-icon span {
        top: 50%;
        transform: scale(1) translateY(-50%) translateX(0%);
      }
      .burger-icon.active::before{
        content: "";
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
      }
      .burger-icon.active::after {
        content: "";
        bottom: 50%;
        transform: rotate(45deg) translateY(50%);
      }
      .burger-icon.active span {
        top: 50%;
        transform: scale(1) translateX(140px);
      }
      .menu-content.active {
        left: 0;
      }
      .menu-content {
        background-color: var(--color-white-opacity);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        height: 66px;
        top: 70px;
        left: -100%;
        transform: translateX(0%);
        transition: left 0.3s ease 0s;
        .menu {
          font-family: "Hind Siliguri", sans-serif, Medium;
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
          width: 50vw;
          height: 100%;
          padding: 0;
          margin-left: 5vw;
          font-weight: 500;
          //order: 2;
          .item {
            color: var(--color-grey);
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: 100%;
            padding: 0 2vw 0 2vw;
            font-size: 2.5vw;
            &:focus {
              background-color: var(--color-cherry);
              color: var(--color-white);
            }
            &:last-child {
              min-width: 17vw;
            }
          }
          .has-submenu {
            position: relative;
            .submenu {
              position: absolute;
              display: none;
              height: auto;
              left: 0;
              top: 100%;
              li {
                min-width: max-content;
                padding: 1vw 0;
                a {
                  background-color: var(--color-white);
                  color: var(--color-black);
                  text-decoration: none;
                  padding: 1vw 2vw;
                  &:hover {
                    background-color: var(--color-cherry);
                    color: var(--color-white);
                  }
                }
              }
            }
          }
        }
        .profileAction {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 23vw;
          height: 65.91px;
          margin-right: 5vw;
          //order: 1;
          .icon {
            cursor: pointer;
          }
          .signInButton {
            font-family: "Hind Siliguri", sans-serif, SemiBold;
            background-color: var(--color-cherry);
            color: var(--color-white);
            font-weight: 600;
            width: 8.75vw;
            height: 4vw;
            font-size: 1.5vw;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 300px) {
  header {
    background-color: var(--color-white);
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 9;
    nav:nth-of-type(1) {
      display: none;
    }
    nav:nth-of-type(2) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      .logo {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        a {
          font-family: "Hind Siliguri", sans-serif, SemiBold;
          color: var(--color-cherry);
          text-decoration: none;
          font-weight: 600;
          font-size: 6vw;
        }
      }
      .burger-icon {
        display: block;
        position: relative;
        overflow: hidden;
        z-index: 3;
        width: 30px;
        height: 20px;
      }
      .burger-icon span, .burger-icon::before, .burger-icon::after {
        background-color: var(--color-black);
        position: absolute;
        height: 10%;
        width: 100%;
        left: 0;
        transition: 0.3s ease 0s;
      }
      .burger-icon::before {
        content: "";
        top: 0;
      }
      .burger-icon::after {
        content: "";
        bottom: 0;
      }
      .burger-icon span {
        top: 50%;
        transform: scale(1) translateY(-50%) translateX(0%);
      }
      .burger-icon.active::before{
        content: "";
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
      }
      .burger-icon.active::after {
        content: "";
        bottom: 50%;
        transform: rotate(45deg) translateY(50%);
      }
      .burger-icon.active span {
        top: 50%;
        transform: scale(0);
      }
      .menu-content.active {
        left: 0;
      }
      .menu-content {
        background-color: var(--color-white-opacity);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 70px;
        left: -100%;
        transform: translateX(0%);
        transition: left 0.3s ease 0s;
        .menu {
          font-family: "Hind Siliguri", sans-serif, Medium;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          list-style: none;
          width: fit-content;
          height: auto;
          padding: 0;
          margin: 5vw 0 0 20px;
          top: 10vw;
          font-weight: 500;
          order: 2;
          .item {
            color: var(--color-grey);
            user-select: none;
            text-align: center;
            width: fit-content;
            height: 100%;
            font-size: 5vw;
            padding: 0 2vw 0 2vw;
            margin-top: 10px;
            &:focus {
              background-color: var(--color-cherry);
              color: var(--color-white);
            }
          }
          .has-submenu {
            position: relative;
            .submenu {
              position: absolute;
              display: none;
              height: auto;
              right: -100%;
              top: 100%;
              width: 40vw;
              li {
                min-width: max-content;
                padding: 1vw 0;
                a {
                  background-color: var(--color-white);
                  color: var(--color-black);
                  text-decoration: none;
                  padding: 1vw 2vw;
                  &:focus {
                    background-color: var(--color-cherry);
                    color: var(--color-white);
                  }
                }
              }
            }
          }
        }
        .profileAction {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 85vw;
          height: auto;
          margin-left: 5vw;
          margin-top: 5vw;
          order: 1;
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6vw;
            height: 6vw;
            margin-top: 5vw;
            order: 2;
            .icon {
              width: 6vw;
            }
          }
          .signInButton {
            font-family: "Hind Siliguri", sans-serif, SemiBold;
            background-color: var(--color-cherry);
            color: var(--color-white);
            font-weight: 600;
            width: 100%;
            height: 10vw;
            font-size: 4.5vw;
            border-radius: 5px;
            order: 1;
          }
        }
      }
    }
  }
}